.order {
    .grand-total {
        font-weight: 900;
    }
}
.buttonOK{
    background-color: #2fdf75 !important;
    border-radius: 4px !important;
    color: #fff !important;
}
* {

    -webkit-user-select: text;
    
    -moz-user-select: text;
    
    -ms-user-select: text;
    
    user-select: text;
    
    }