<ion-header mode="ios">
	<style>
      :root {
        --ion-safe-area-top: 20px;
        --ion-safe-area-bottom: 22px;
      }

      
	  .rowheader{
	  border: solid 1px #ccc; 
	  border-radius: 20px; 
	  background-color: #ffffff;
	  padding: 5px;
	
	  }
	  
	  .spanheader{
	  color:rgba(0,0,0,.54)!important; 
	  font-size: 11px !important;
	  font-weight: 400!important;
	  }
	  .labelname {
		text-align: center;
		
		
	  }
		 .labelname h3{
				font-weight: 600 !important;
				font-size: 16px !important;
			    text-align: center;
				color:#000 !important;
			 }
		.labelname span {
				text-transform: capitalize !important;
				font-size : 14px !important;
				color : #000;
			 }
	  
    </style>
    <ion-toolbar>      
      <ion-title>{{"Account" | translate}}</ion-title>
    </ion-toolbar>
    
	
</ion-header>
<ion-content>
<ion-grid class="my-account-header" *ngIf="settings.customer?.id">
        <ion-row>
           <!-- <ion-col size="4">
                 <img class="img-profile" src="{{settings.customer.avatar_url}}"> -->
                
                   <!-- <ion-avatar>
                        <img src="{{settings.customer.avatar_url}}">
						[class]="data.post_title == 'BRONZE' ? 'bronze': data.post_title == 'SILVER' ? 'silver': data.post_title == 'GOLD' ? 'gold':'diamond'"
                    </ion-avatar> 
					
                
            </ion-col> -->
			<ion-col>
				<div *ngFor="let data of membership"  >
					<img class="img-profile" *ngIf="data.post_title == 'BRONZE' || data.post_title == 'SILVER' || data.post_title == 'GOLD' || data.post_title == 'DIAMOND' " src="./assets/image/{{data.post_title}}.png">
				</div>
				<ion-item lines="none">
					<ion-label class="labelname">
					<h3>{{settings.customer.shipping.first_name}}&nbsp;{{settings.customer.billing.last_name}}</h3>
					<p *ngFor="let data of membership" >
					<span *ngIf="data.post_title == 'BRONZE' || data.post_title == 'SILVER' || data.post_title == 'GOLD' || data.post_title == 'DIAMOND'" >
					{{data.post_title}} member
					</span>
					</p>
					</ion-label>
				</ion-item>
			</ion-col>
        </ion-row>
        
        <!-- <ion-row class="ion-justify-content-center" class="rowaccount">
            <ion-col size="4" style="white-space: normal;" color="none">
                <p (click)="goTo('tabs/account/orders')" *ngIf="settings.customer?.id" class="hide-overflow ion-activatable"><ion-icon color="primary" name="reader-outline" slot="start"></ion-icon> {{"Orders" | translate}}<br/> <span style="font-size: 11px !important;font-weight: 400!important;color:rgba(0,0,0,.54)!important;">History</span>
                </p>
            </ion-col>
            <ion-col size="4" style="white-space: normal;">
                <p (click)="goTo('tabs/account/wallet')" *ngIf="settings.customer?.id && settings.settings?.enable_wallet" class="hide-overflow ion-activatable"> <ion-icon color="primary" name="wallet-outline" slot="start" ></ion-icon> {{wallet.balance | currency:settings.currency:'Rp ':'1.0'}}<br/> <span style="color:rgba(0,0,0,.54)!important; font-size: 11px !important;font-weight: 400!important;">KalindoPay</span>
                </p>
            </ion-col>
            <ion-col size="4" style="white-space: normal;">
                <p class="hide-overflow" *ngFor="let data of points" ><ion-icon color="primary" name="gift-outline" slot="start"></ion-icon> {{data.totalearnedpoints}}<br/><span style="font-size: 11px !important;font-weight: 400!important;color:rgba(0,0,0,.54)!important;">Point</span>
                </p>
            </ion-col> 
        </ion-row> -->
        <!--  <ion-row class="header-menus" justify-content-between="">
            <ion-item lines="none" style="border: solid 1px #ccc; border-radius: 4px; background-color: #ffffff;margin:auto">
            
            <ion-col>
                <ion-item color="transperant" lines="none" (click)="goTo('tabs/account/orders')" *ngIf="settings.customer?.id" class="ion-activatable">
                    <ion-icon class="ion-margin-end" color="primary" name="reader-outline" slot="start"></ion-icon>
                    <ion-label class="labelheader">{{"Orders" | translate}} <br/>
                        <span class="spanheader">History</span></ion-label>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item color="transperant" lines="none" (click)="goTo('tabs/account/wallet')" *ngIf="settings.customer?.id && settings.settings?.enable_wallet" class="ion-activatable">
                    <ion-icon class="ion-margin-end" color="primary" name="wallet-outline" slot="start"></ion-icon>
                    <ion-label class="labelheader">{{wallet.balance | currency:settings.currency:'Rp ':'1.0'}} <br/>
                        <span class="spanheader">KalindoPay</span></ion-label>
                </ion-item>
            </ion-col>
        </ion-item >
        </ion-row> -->
    </ion-grid>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" *ngIf="settings.settings?.pull_to_refresh && settings.customer?.id">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner=""
        refreshingText="">
      </ion-refresher-content>
    </ion-refresher>
		<ion-row class="rowheader" *ngIf="settings.customer?.id">
            <ion-col>
              <div><p (click)="goTo('tabs/account/orders')" *ngIf="settings.customer?.id" class="hide-overflow ion-activatable"><ion-icon color="primary" name="reader-outline" slot="start"></ion-icon> {{"Orders" | translate}}<br/> <span class="spanheader">History</span>
                </p></div>
            </ion-col>
            <ion-col style="border-left:solid 1px #ccc;border-right:solid 1px #ccc">
              <div><p (click)="goTo('tabs/account/wallet')" *ngIf="settings.customer?.id && settings.settings?.enable_wallet" class="hide-overflow ion-activatable"> <ion-icon color="primary" name="wallet-outline" slot="start" ></ion-icon> {{wallet.balance | currency:settings.currency:'Rp ':'1.0'}}<br/> <span class="spanheader">KalindoPay</span>
                </p></div>
            </ion-col>
           <ion-col>
              <div> 
				<p *ngFor="let data of points" class="hide-overflow ion-activatable"><ion-icon color="primary" name="gift-outline" slot="start" ></ion-icon> {{data.point}}<br/><span class="spanheader">Points</span> 
                    </p>
			  </div>
            </ion-col>
          </ion-row>

    <ion-list>

        <ion-item (click)="openWebpage()" detail="true" *ngIf="settings.customer?.id" lines="inset" class="ion-activatable">
            <ion-icon style="font-size:24px; color:#eb445a" name="wallet-outline" class="ion-margin-end"></ion-icon>
            <ion-label>{{"Payment Confirmation" | translate}}</ion-label>
        </ion-item>

        <ion-item (click)="login()" detail="true" lines="inset" *ngIf="!settings.customer?.id" class="ion-activatable">
            <ion-icon style="font-size:24px; color: #eb445a" name="enter-outline" class="ion-margin-end"></ion-icon>
              <ion-label>{{"Login" | translate}}</ion-label>
        </ion-item>
<!--
        
         <ion-item (click)="goTo('tabs/account/cekresi')" detail="true" *ngIf="settings.customer?.id" lines="inset" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white" class="icon-start ion-margin-end" name="wallet" slot="start"></ion-icon>
            <ion-label>{{"Resi" | translate}}</ion-label>
        </ion-item>

        <ion-item (click)="goTo('tabs/account/register')" detail="true" lines="inset" *ngIf="!settings.customer?.id" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-success, #2dd36f); color: white" class="icon-start ion-margin-end" name="person" slot="start"></ion-icon>
            <ion-label>{{"Register" | translate}}</ion-label>
        </ion-item> 

        <ion-item (click)="goTo('tabs/account/points')" detail="true" lines="inset" *ngIf="settings.reward" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white" class="icon-start ion-margin-end" name="card" slot="start"></ion-icon>
            <ion-label>{{"Points" | translate}}</ion-label>
        </ion-item> -->
 
        <ion-item (click)="goTo('tabs/account/address')" detail="true" lines="inset" *ngIf="settings.customer?.id" class="ion-activatable">
            <ion-icon style="font-size:24px; color:#eb445a" name="map-outline" class="ion-margin-end"></ion-icon>
            <ion-label>{{"Address" | translate}}</ion-label>
        </ion-item>

        <ion-item (click)="email(settings?.settings?.support_email)" detail="true"  *ngIf="settings?.settings?.support_email" lines="inset" class="ion-activatable">
            <ion-icon style="font-size:24px; color:#eb445a" name="mail-outline" class="ion-margin-end"></ion-icon>
            <ion-label>{{"Email us" | translate}}</ion-label>
        </ion-item>
      
        <ion-item lines="inset" class="ion-activatable" detail="true"  (click)="shareApp()">
            <ion-icon style="font-size:24px; color:#eb445a" class="ion-margin-end" name="share-outline"></ion-icon>
            <ion-label>{{"Invite Friends" | translate}}</ion-label>
        </ion-item>

        <ion-item lines="inset" class="ion-activatable" detail="true"  (click)="rateApp()"> 
            <ion-icon style="font-size:24px; color:#eb445a" name="star-outline" class="ion-margin-end"></ion-icon>
            <ion-label>{{"Rate us" | translate}}</ion-label>
        </ion-item>

        <ion-item lines="inset" *ngIf="settings.settings?.show_blog" (click)="goTo('tabs/account/blogs')" detail="true"  lines="inset" class="ion-activatable">
          <ion-icon style="font-size:24px; color:#eb445a"  name="document-text-outline" class="ion-margin-end"></ion-icon>
        <ion-label>{{"About Us" | translate}}</ion-label>
        </ion-item>

        <ion-item *ngIf="settings.languages?.length" detail="true"  lines="inset" (click)="goTo('tabs/account/setting')" lines="inset" class="ion-activatable">
            <ion-icon style="font-size:24px; color:#eb445a" name="globe-outline" class="ion-margin-end"></ion-icon>
            <ion-label>{{"Language" | translate}}</ion-label>
        </ion-item>

        <ion-item *ngIf="settings.currencies?.length" detail="true"  lines="inset" (click)="goTo('tabs/account/currencies')" lines="inset" class="ion-activatable">
            <ion-icon style="font-size:24px; color:#eb445a"  name="logo-usd-outline" class="ion-margin-end"></ion-icon>
            <ion-label>{{"Currency" | translate}}</ion-label>
        </ion-item>

        <ion-item *ngFor="let page of settings.pages" lines="inset" [hidden]="!page.url" (click)="goTo('/tabs/account/post/'+page.url)" detail="true"  lines="inset" class="ion-activatable" >
            <ion-icon style="font-size:24px; color:#eb445a" name="document-outline" class="ion-margin-end"></ion-icon>
            <ion-label>{{page.title}}</ion-label>
        </ion-item>

        <ion-item detail="true"  lines="inset" class="ion-activatable" (click)="log_out()" *ngIf="settings.customer?.id" >
            <ion-icon style="font-size:24px; color:#eb445a" name="log-out-outline" class="ion-margin-end"></ion-icon>
            <ion-label>{{"Logout" | translate}}</ion-label>
        </ion-item>
<!--
        <ion-item class="ion-activatable">
          <ion-icon style="background-color: var(--ion-color-primary, #eb445a); color: white" class="icon-start ion-margin-end" slot="start" name="moon" mode="md" slot="start"></ion-icon>
          <ion-label>
            {{"Dark Theme" | translate}}
          </ion-label>
          <ion-toggle id="themeToggle" slot="end"></ion-toggle>
        </ion-item>
 -->
 
      </ion-list>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="settings.settings?.enable_home_chat">
        <a href="https://wa.me/{{settings.settings?.whatsapp_number}}">
            <ion-fab-button size="small" color="whatsapp">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-fab-button>
        </a>
      </ion-fab>
</ion-content>
