.order {
    .grand-total {
        font-weight: 900;
    }
}
* {

    -webkit-user-select: text;
    
    -moz-user-select: text;
    
    -ms-user-select: text;
    
    user-select: text;
    
    }